<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Material Search</title>
</head>

<body>
    <div class="row">
        <div class="input-field col s2">
            <input placeholder="Name" name='name' id="name" type="text" class="validate">
            <label for="search">Material Name</label>
        </div>

        <div class="input-field col">
            <select name="selectedOption" id="selectedOption">
                <option value="" disabled selected>Choose your option</option>
                <option value="m2">M2</option>
                <option value="m1">M1</option>
            </select>
            <label>Select Option</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="button" name="btnSubmit" onclick="searchData();">Search </button>
    <div id="objects" class="row">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>

        function searchData() {
            var data = {
                selectedOption: $("#selectedOption").val(),
                name: $("#name").val(),

            };
            fetch('/search', {
                method: 'post',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            })
                .then((response) => {
                    return response.json();
                })
                .then(datas => {

                    console.log(datas);
                    const objid = document.getElementById('objects');
                    objid.innerHTML = ``;
                    var elem = 'No Result'
                    if (datas) {

                        //for n data items, change html elemets
                        var name = datas.name;
                        var type = datas.type;
                        var range = datas.data;
                        var comment = datas.comments;
                        elem =
                            `
                        <div class="col s12 m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">${name}</span>
                                    <p>Type: ${type}<br>
                                    Range: ${range}<br>                            
                                     ${comment}<br>                            
                                    </p>
                                </div>  
                            </div>
                        </div>
                 
                     `
                        objid.innerHTML += elem;

                    } else {
                        objid.innerHTML += elem;
                    }




                })
                .catch(err => console.log(err));

        }

    </script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>


</body>

</html>